/*-------------------------------------Header-------------------------*/
.size {
 width:150px;
 height: 100px;
}

.org-chart{
    background-color: gray;
    color: #fff;
    margin:  10px;
    }

.menuitem {
text-align: center;
}

.menuitem i {
 text-align: center;
    padding: 0;
}
/*-------------------------------------EndHeader-------------------------*/

/*-------------------------------------OrgChart-------------------------*/

.smspacing {
margin-bottom: 150px;
margin-right: 10px;
margin-left: 10px;
}

.orgchartspacing {
margin-bottom: 1rem;
}

/*-------------------------------------EndOrgChart-------------------------*/

.org {
  margin-top: 10rem;

  font-weight: 500;

}


img{
    width: 324px;
    height: 216px;
    object-fit: scale-down;
}


.team-leader {
  margin-top: 1rem;
}

.manager {
  background: url("../images/tim.jpg");
  background-repeat: no-repeat;

  height: 15rem;
}

.manager2 {
  margin-left: 1rem;
    background: url(../images/foto.jpg);
    background-repeat: no-repeat;
    height: 15rem;
  
}

.manager3 {
  background: url("../images/viktor.jpg");
  background-repeat: no-repeat;

  height: 20rem;
}



.associate {
  background: url("../images/tamarcus.jpg");
  background-repeat: no-repeat;

  height: 20rem;
}

.associatea {
  background: url("../images/bruce.jpg");
  background-repeat: no-repeat;

  height: 20rem;
}

.associateb {
  background: url("../images/gregory.jpg");
  background-repeat: no-repeat;

  height: 20rem;
}
.associate1 {
  padding-right: 0px;
}

/*Photo by samsommer on Unsplash*/
/*Photo by eberhard grossgasteiger on Unsplash*/
/*Photo by Joshua Reddekopp on Unsplash*/

 




.associate2{
background: url("../images/Summit FA.png");
  background-repeat: no-repeat;

  height: 20rem;

}

span {
    display: block;
}








.spacingclientbespokeprocesses{
    margin-bottom: 100px}
}

.spacingclientbespokeprocessesfooter{
    margin-bottom: 150px;
}

.footerspacing{

margin-top: 150px;
margin-right: 10px;
margin-left: 10px;
}

.marybio{
text-align: center;
font-weight: 600;

}

.profilespacing{
    margin-bottom: 3rem;
}

.table1{
    width:80%;
    margin-left: 10%;
}

.table2{
    width:90%;
    margin-left: 5%;
}

.table3{
    width:100%;
}

.progress-client1 {
width: 70%;

}

.progress-kbc {
width: 90%;

}

.table-kbc {
width: 80%;

}

.bespoke-kbc {
width: 100%;

}

/*Photo by Noorulabdeen Ahmad on Unsplash - Clouds*/

body {
    background-image:  url("../images/cloud.jpg");
    background-size: cover;
    
    
}





h3, h4 {

    color: black;
    font-weight: 700;
}

.table{

    color: #fff;
    font-weight: 900;
    
}