/*-------------------------------------Header-------------------------*/
.size {
 width:150px;
 height: 100px;
}

.org-chart{
    background-color: darkslateblue;
    color: #fff;
    margin:  10px;
    }

.menuitem {
text-align: center;
}

.menuitem i {
 text-align: center;
    padding: 0;
}

span {
    display: block;
}
/*-------------------------------------EndHeader-------------------------*/

/*-------------------------------------OrgChart-------------------------*/

.smspacing {
margin-bottom: 150px;
margin-right: 10px;
margin-left: 10px;
}

.orgchartspacing {
margin-bottom: 1rem;
}

/*-------------------------------------EndOrgChart-------------------------*/




/*-------------------------------------Profile-Pages-------------------------*/

.profilespacing {
    margin-bottom: 3rem;
}

.spacingclientbespokeprocesses {
    margin-bottom: 100px}
}

/*-------------------------------------Fund-Info-------------------------*/
.footerspacing {
margin-top: 150px;
margin-right: 10px;
margin-left: 10px;
}


.table {
    font-weight: 600;
    text-align: center;
}

.table1 {
    width: 80%;
    margin-left: 10%;
}

.table2 {
    width: 90%;
    margin-left: 5%;
}

/*a {
    color: darkslateblue;
    
}*/

h1 {
    margin-bottom: 3rem;
    
}
    

/*-----------------------------------Client-1-KBC-----------------------*/

.spacingclientbespokeprocessesfooter {
    margin-bottom: 150px;
}

.table-kbc {
width: 80%;

}


/*-----------------------------------Client-2-BOI-----------------------*/






.marybio{
text-align: center;
font-weight: 600;

}









.progress-client1 {
width: 70%;

}

.progress-kbc {
width: 90%;

}



.bespoke-kbc {
width: 100%;

}

/*Photo by Noorulabdeen Ahmad on Unsplash - Clouds*/







h3, h4, h2 {

    color: red;
    font-weight: 500;
}


.table4 {
    width: 80%;
    margin-left: 10%;
}

.table2 {
    width: 90%;
    margin-left: 5%;
}




body {
    background-image:  url("../images/cloud.jpg");
    background-size: cover;
    
    
}




a:not([href]) {
        color: #fff;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

footer:hover {
color: red;

}